<%= stylesheet_link_tag    'home'%>
<%#= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>

<%#= link_to image_tag("kitten.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>




  <!-- <a href="/" class="skip-to-content sr-only" tabindex="0">Skip to main content</a> -->
  

  
<div id="site-container">
	<div class="fp-desktop-hero institutions-below-fold">
		<div class="fp-hero">
		  <div class="fp-hero-content">
		    <div class="fp-hero-text">
		      <div class="line animated animate_fadeInUp fadeInUp">Expand your</div>
		      <div class="line animated animate_fadeInUp fadeInUp">clinical knowledge</div>
		    </div>
		    <p class="fp-hero-lead animated animate_fadeInUp fadeInUp">Join clinical trials on the ground floor! Find collaborators from around the globe. Build the future on <strong>VRCORP</strong>.</p>
		    <button class="btn btn-white-outline btn-hero text-to-download-button animated animate_fadeInUp hidden-xs fadeInUp" id="btn-download-hero">Sign Up</button>
		  </div>
		</div>
	</div>

	<section class="light-bg fp-section text-center">
	  <div class="container">
	    <h2 class="fp-h3 text-center animated animate_fadeInUp fadeInUp">About Us</h2>
	    <hr class="red-line mobile-center wide-center animated animate_fadeInUp fadeInUp" style="width: 48px;">
	    <p class="fp-lead animated animate_fadeInUp fadeInUp">My name is Akshay, I like long walks on the beach... and also retina clinical trials.</p>
	  </div>
	</section>

	<section class="dark-bg fp-section text-center">
	  <div class="container">
	    <h2 class="fp-h3 text-center animated animate_fadeInUp fadeInUp">How VRCORP works</h2>
	    <hr class="red-line mobile-center wide-center animated animate_fadeInUp fadeInUp" style="width: 48px;">
	    <p class="fp-lead animated animate_fadeInUp fadeInUp">We help you get out there and find collaborators, more patients, and make clinical trials awesome sauce</p>
	    <div class="row align-center">
	      <div class="col-sm-10 col-md-12 col-lg-10 col-xl-8">
	        <ol class="row borders-between circled-numbers">
	          <li class="col-sm-6 col-md-3 animated animate_fadeInUp fadeInUp">
	            <span>Create new clinical trial ideas</span>
	          </li>
	          <li class="col-sm-6 col-md-3 animated animate_fadeInUp fadeInUp">
	            <span>Invite collaborators to join your team</span>
	          </li>
	          <li class="col-sm-6 col-md-3 animated animate_fadeInUp fadeInUp">
	            <span>Join forces and kick butt!</span>
	          </li>
	          <li class="col-sm-6 col-md-3 animated animate_fadeInUp fadeInUp">
	            <span>World domination</span>
	          </li>
	        </ol>
	      </div>
	    </div>
	  </div>
	</section>


<!--   <section class="fp-institutions light-bg" id="institutions">
    <div class="container">
      <p class="fp-lead text-center text-muted animated animate_fadeInUp fadeInUp">Leading physicians and world-class institutions share medical cases on Figure&nbsp;1.</p>
      <ul class="animated animate_fadeInUp fadeInUp">
        
          <li><img src="./Achieve clinical mastery _ Figure 1_files/logo-black_bmj.png" alt="BMJ" height="30px"></li>
        
          <li><img src="./Achieve clinical mastery _ Figure 1_files/logo-black_msf.png" alt="Doctors Without Borders" height="30px"></li>
        
          <li><img src="./Achieve clinical mastery _ Figure 1_files/logo-black_acs.png" alt="American Cancer Society" height="30px"></li>
        
          <li><img src="./Achieve clinical mastery _ Figure 1_files/logo-black_sinai.png" alt="Mount Sinai" height="30px"></li>
        
          <li><img src="./Achieve clinical mastery _ Figure 1_files/logo-black_cincinatti.png" alt="Cincinatti Children&#39;s" height="30px"></li>
        
          <li><img src="./Achieve clinical mastery _ Figure 1_files/logo-black_sage.png" alt="Sage" height="30px"></li>
        
          <li><img src="./Achieve clinical mastery _ Figure 1_files/logo-black_cochrane.png" alt="Cochrane" height="30px"></li>
        
      </ul>
    </div>
  </section> -->

<!-- 
  
  <section class="light-bg fp-phone" id="fp-below-the-fold-large">
    <div class="container">
      <div class="row align-center">
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="fp-phone-text-wrapper">
            <div class="fp-phone-text">
              <h2 class="fp-h2 animated animate_fadeInUp fadeInUp">Achieve clinical mastery</h2>
              <div class="red-line mobile-center wide-left animated animate_fadeInUp fadeInUp" style="width: 48px;"></div>
              <p class="fp-lead text-white animated animate_fadeInUp fadeInUp">It is impossible to know everything in medicine. But with Figure&nbsp;1’s knowledge-sharing platform, it’s easy for healthcare professionals to come close.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-5">
          <div class="fp-phone-preview animated animate_fadeIn fadeIn">
            <div class="fp-phone-overlay">
              <img src="./Achieve clinical mastery _ Figure 1_files/home-feed_phone-half.png" class="fp-phone-overlay" alt="">
            </div>
            <div class="fp-phone-app">
              <img src="./Achieve clinical mastery _ Figure 1_files/home-feed_en.jpg" id="fp-phone-app-img" alt="" class="finished" style="top: -1299.75px;">
            </div>
            <div class="fp-phone-buttons">
              <button id="fp-phone-start" class="btn" style="display: inline-block; opacity: 0.196659;">Restart Preview</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  
<!--   <section class="light-bg fp-section fp-testimonials">
    <div class="container">
      <h2 class="text-center fp-h3 animated animate_fadeInUp fadeInUp">What doctors are saying</h2>
      <hr class="red-line mobile-center wide-center" style="width: 48px;">
      <div class="row">
        
          <div class="col-lg-4">
            <div class="card white shadow animated animate_fadeInUp fadeInUp">
              <div class="quote">
                <p>“The cases help me stay up to date on various diseases and therapies. They keep my deductive skills sharp.”</p>
              </div>
              <div class="citation">
                Pediatric Subspecialist
              </div>
            </div>
          </div>
        
          <div class="col-lg-4">
            <div class="card white shadow animated animate_fadeInUp fadeInUp">
              <div class="quote">
                <p>“Enormous reservoir of interesting cases and opportunity to learn at your appropriate level.”</p>
              </div>
              <div class="citation">
                General Surgeon
              </div>
            </div>
          </div>
        
          <div class="col-lg-4">
            <div class="card white shadow animated animate_fadeInUp fadeInUp">
              <div class="quote">
                <p>“Not only has viewing a Figure&nbsp;1 image a day helped me make real life diagnoses, but also great (classic) images for board preparation!”</p>
              </div>
              <div class="citation">
                Internal Medicine Resident
              </div>
            </div>
          </div>
        
      </div>
    </div>
  </section>

   -->

</div>
  
